/* 主体内容大小高度为1136px */
.home-main {
    width: 100%;
    height: 1595px;
    margin-top: 40px;
}

/* 内容居中，宽度为1100px */
.home-main-box {
    width: 1100px;
    height: 1136px;
    text-align: center;
    margin: 0 auto;
}

/* table样式 */
.home-main-box table tr {
    display: block;
    margin-bottom: 12px;
}

.home-main-box table td {
    background: white;
    text-align: left;
    width: 545px;

}

.home-main-box>table img {
    width: 545px;
    height: 265px;
}
.home-main-box table tr td div {
    width: 493px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: -15px;
}
.home-main-box table tr td p {
    font-size: 14px;
    line-height: 21px;
}
.home-main-box table tr td a {
    /* width: 110px; */
    /* height: 38px; */
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
    position: relative;
    top: 10px;
    left: 30px;
}
.home-main-box table tr td a:hover {
    background: rgb(68, 68, 68);
    color: white;
}

/* 主体内容下面{公司简介，公司新闻，联系我们}外部盒子样式  1100*365 */
.home-main-bottom {
    height: 365px;
    margin-top: 46px;

}

/* 公司简介，公司新闻，联系我们盒子样式  350*365 */
.home-main-bottom>div {
    width: 350px;
    height: 365px;
    color: #434a54;
    background: white;
    display: inline-block;
    position: relative;
    /* 由于div设置了inline-block，添加文字后会产生位移，使用 vertical-align:top消除*/
    vertical-align:top
}

/* 公司简介，公司新闻，联系我们图片样式  350*220 */
.home-main-bottom>div>img {
    width: 350px;
    height: 190px;
    margin-bottom: 20px;
}
.home-main-bottom>div>span {
    font-size: 22px ;
    font-weight: bold;
    color: #000;
    position: relative;

}
.home-main-bottom>div>p {
    font-size: 14px;
    line-height: 18px;
    padding:10px 8px 0px;
}
